<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <form method="POST" action="{{ url_for('add_terminal') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label(class='form-control-label') }}
                {{ form.name(class='form-control form-control-lg') }}
            </div>
            <div class="form-group">
                {{ form.address.label(class='form-control-label') }}
                {{ form.address(class='form-control form-control-lg') }}
            </div>
            <div class="form-group">
                {{ form.ip.label(class='form-control-label') }}
                {{ form.ip(class='form-control form-control-lg') }}
            </div>
            <div class="form-group">
                {{ form.active.label(class='form-control-label') }}
                {{ form.active(class='form-control form-control-lg') }}
            </div>
            {{ form.submit(class='btn btn-primary btn-lg') }}
        </form>
    </div>
</body>
</html>