<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инкассации</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>История инкассаций</h1>
        <a class="btn btn-primary" href="{{ url_for('terminal', terminal_id=terminal_id) }}">Вернуться назад</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Время</th>
                    <th>Общая сумма</th>
                    <th>Кол-во купюр</th>
                </tr>
            </thead>
            <tbody>
                {% for incasation in incasations %}
                <tr>
                    <td>{{ incasation.time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ incasation.total_amount }}</td>
                    <td>{{ incasation.total_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Пагинация -->
        <div class="row mt-3">
            <div class="col-md-12">
                {{ pagination.info }}
                {{ pagination.links }}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>